#search-form {
    display: flex ;
    margin: 15px;
    justify-content:flex-end;
}
  #search-input {
    padding: 10px;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid #7a80db;
    width: 310px;
    max-width: 100%;
    margin-right: 20px;
  }
  #search-form button {
     width: 16%;
     height: 50px;
     border-radius: 20px;
     font-size: 24px;
     font-family:Arial, Helvetica, sans-serif;


  }