.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #6e77ee;
  padding: 5px;
  color: #ffffff;
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.5));
  width: 100%;
}

.header img{
  width: 80px;
  margin-left: 40px;
}

.houver {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ajudar {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 40px;
}

.ajudar:hover {
  color: #f0f0f0;
}

.currentPage {
  background-color: #ffffff;
  color: #6e77ee;
  padding: 10px 20px;
  border: 2px solid #6e77ee;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: large;
}

.nextPage {
  background-color: #ffffff;
  color: #6e77ee;
  padding: 10px 20px;
  border: 2px solid #6e77ee;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: large;
}

.nextPage:hover {
  background-color: #6e77ee;
  color: #ffffff;
}

.currentPage:hover {
  background-color: #6e77ee;
  color: #ffffff;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 23px;
  background-color: #f5f5f5;
  margin-top: -70px;

}

.pagination button {
  display: flex;
  margin: 10px;
}

.pagination .page-info {
  display: flex;
  margin: 10px;
}

.AllPage {
  background-color: #f5f5f5;
  min-height: 100vh;
}

.div-pagination-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

/* Responsividade */
@media screm (max-width: 708px) {
  .header {
    padding: 10px;
    width: 200px;
  }

  .logo img {
    width: 120px;
  }

  .houver {
    justify-content: center;
  }

  .ajudar {
    font-size: 30px;
    margin-right: 0;
  }

  .AllPage{
    width: 100%;
  }

  .div-pagination-home {
    margin-top: 10rem;
  }
}

