.cadastroPaciente{
    display:block;
    margin: 33px;

}
.cadastroPaciente input{
   margin-bottom: 25px;
   width: 100%;
   height: 45px;
   border-radius: 8px;
   border: 1.4px solid rgba(7, 32, 78, 0.589);
   padding: 1.3em ;
   font-size: 1em;
   font-weight: 400;
   font-family: 'Roboto Condensed', sans-serif;  
   

}
.tituloForm{
    color: rgb(255, 255, 255);
    background-color: #6e77ee;
    border-radius: 3px 3px 0px 0px;
    font-family: 'Roboto Condensed', sans-serif;

}


.botaoModal button{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    margin: 3px ;
    width: 150px;
    background-color:#6e77ee;

}
.botaoModal{
    display: flex;
    justify-content: end;
}
.modal {
    background-color:#1212153f;
}
label{
    font-size: large;

}
.botaoEditar{
    border-radius: 10px;
    
}
.cadButton{
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(253, 253, 253);
   margin-top: 10px;
   margin-bottom: 10px;
   width: 100px;
   height: 55px;
   font-size: 20px;
   font-style:inherit;
   font-weight: 450;
   border: 20px;
   border-radius: 10px;
   background-color: #6e77ee;
   gap: 5px;
 
   
}
.cadButton:hover{
    background-color:#6269d077;
}

.setModal{
    display: flex;
    justify-content: end;
    margin-right: 40px;
    margin-top: 10px;
    
}
