.dados-vitais input {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 3rem;
  border-radius: 0.8rem;
  border: 1.4px solid rgba(59, 65, 76, 0.589);
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
}

.form-atender {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  
}

.dados-vitais {
  width: 100%;
  max-width: 500px;

}

.sintomas {
  width: 100%;
  max-width: 600px;
  font-size: 1.4rem;
}

h1 {
  margin-top: 1.5rem;
  text-align: center;
}

h4 {
  text-align: center;
}

#botaoFinalizar {
  display: flex;
  width: 80%;
  margin: 1.5rem auto;
  filter: drop-shadow(0 6px 8px rgba(112, 112, 112, 0.3));
}

.pressao {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.check-button {
  margin: 1rem;
}

.table-lastAttendance {
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.last-attendance {
  color: #000;
}

.last-attendances {
  display: flex;
  width: auto;
  height: auto;
  overflow:scroll;
}

.div-pagination {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.nao-atendido{
  margin-left: 543px;

}
.previous{
    margin-left: 100px;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
  } 
  .previous button{
    margin-top: -10px;
    font-size: 25px;
    border: 20px;
    filter: drop-shadow(10px 5px 5px rgba(0, 0, 0, 0.7));
  }

@media (max-width: 768px) {
  .form-atender {
    
    flex-direction: column;
    align-items: center;
  }

  .dados-vitais {
    max-width: 100%;
  }

  .sintomas {
    max-width: 100%;
    font-size: 1.2rem;
  }

  #botaoFinalizar {
    width: 100%;
  }

  .table-lastAttendance {
    width: 50%;
  }
  #botaoFinalizar {
    display: flex;
    width: 70%;
    margin: 1.5rem auto;
    filter: drop-shadow(0 6px 8px rgba(112, 112, 112, 0.3));
  }
}
