.info-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b7bac3;
  border-radius: 5px;
  padding: 10px;

}

.info-photo {
  width: 100px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.info-details {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.info-name {
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 90px;
}

.info-cpf {
  color: #4b4b4b;
  margin-bottom: 5px;
  margin-right: 90px;
}

.info-phone {
  color: #4b4b4b;
  margin-right: 40px;
}

.info-age {
  color: #4b4b4b;
  margin-right: 40px;
}

/* Estilos para telas menores */
@media (max-width: 768px) {
  .info-bar {
    flex-direction: column;
    align-items: center;
  }
  
  .info-photo {
    margin-bottom: 10px;
    margin-right: 0;
  }
  
  .info-details {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .info-name {
    margin-left: 20px;
    margin-right: 0;
  }
  
  .info-cpf,
  .info-phone,
  .info-age {
    margin-right: 0;
  }
}
