
.inforPaciente{
   margin: 90px;
   font-size: larger;
   
}
.dropConsultas button{
    width: 100%;
    margin-top: 20px;
}
.actions{
    display: flex;
    justify-content: space-between;
}
.actions button{
    width: 48%;

}
